.watch {
    background-image: url('./assets/images/giant-panda.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.watch__container {
    display: flex;
    flex-direction: column;
    gap:60px; 
    padding-bottom: 100px;
    position: relative;
}
.watch__favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:60px;
    text-transform: uppercase;
}
.watch__title {
    width: 500px;
    position: relative;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-align: center;
    align-self: flex-end;
    text-transform: uppercase;
    color: #fff;
    margin-top: 86px;
    z-index: 3;
}
.watch__title::before {
    display: block;
    content: "";
    position: absolute;
    width: 465px;
    height: 465px;
    background: #fe9013;
    border-radius: 50%;
    top:-73px;
    left: -73px;
    z-index: -1;
}
.watch__title-color {
    color: var(--color-yellow);
}
.watch__btn {
    display: block;
    align-self: flex-end;
    margin-right: 100px;
}

.backstage {
    position: relative;
    padding: 140px 0 100px;
}
.backstage__container {
    display: flex;
    gap: 87px;
}
.backstage__image {
    min-width: 609px;
    height: 403px;
    background-image: url('./assets/images/bamboo-cap.png');
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    background-size: cover;
    background-position: center;
}
.backstage__title {
    font-size: 48px;
    color: var(--color-black-blue);
    margin-bottom: 20px;
    line-height: 130%;
}
.backstage__subtitle {
    font-size: 24px;
    color: var(--color-black-blue);
    margin: 54px 0 34px 0;
}
.backstage__desc {
    line-height: 130%;
    color: var(--color-black-blue);
}
.backstage__flower {
    background-image: url('./assets/images/flower_foto1.png');
    width: 203px;
    height: 605px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -2;
    transition-duration: 0.5s;
    transition-property: opacity;
}
.backstage__btn {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 15px;
}

/*animal*/
.animal {
    padding: 88px 0 100px 0;
    background: url('./assets/images/palm_foto.png') left bottom no-repeat, url('./assets/images/strelitzia.png') right bottom no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.animals__block {
    position: relative;
}
.animals__cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 19px;
    column-gap: 34px;
    max-height: 890px;
    max-width: 1170px;
    overflow: hidden;
}
.animal__slider {
    width: 1166px;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    overflow: hidden;
}
.slider__cards {
    width: 3534px;
    display: flex;
    justify-content: center;
    transition: transform 1s;
}
.animal__card {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 366px;
    height: 425px;
    background-color: #FFFFFF;
    border: 1px solid var(--color-lg-orange);
    border-radius: 5px;
    transition: 0.3s;
}
.animal__card:hover {
    background-color: var(--color-lg-orange);
}
.animal__card::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 5);
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
}
.animal__card:hover::before {
    opacity: 0.5;
}
.card__image {
    width: 100%;
    height: 368px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.card__image img {
    width: 100%;
    height: 364px;
    border-radius:4px;
}
.animal__card:hover .card__image {
    background-size: 110%;
}
.card__decs {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 8px 0 16px;
    transition: 0.5s;
}
.animal__card:hover .card__decs{
    top: -80px;
    color: #FFFFFF;
    z-index: 200;
}
.card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}
.card__description-text {
    font-weight: 300;
    font-size: 15px;
}
.icon-b {
    background-image: url('./assets/icons/banana.svg');
    width: 33px;
    height: 37px;
}
.icon-f {
    background-image: url('./assets/icons/fish.svg');
    width: 48px;
    height: 38px;
}
.card__arrows-block {
    position: absolute;
    top: 400px;
    left: -81px;
    display: flex;
    justify-content: space-between;
    width: 1322px;
}
.card__arrow {
    width: 62px;
    height: 62px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background-repeat:no-repeat;
    background-position:center;
}
.card__arrow:hover {
    transform: scale(1.04);
}
.card__arrow-left {
    background-image: url('./assets/icons/arrow-left.svg'), var(--linear-gradient);
}
.card__arrow-left:active {
    background-image: url('./assets/icons/arrow-left.svg'), linear-gradient(113.96deg, var(--color-green) 1.49%, var(--color-green)101.44%);
    transform: scale(1);
}
.card__arrow-right {
    background-image: url('./assets/icons/arrow-right.svg'), var(--linear-gradient);
}
.card__arrow-right:active {
    background-image: url('./assets/icons/arrow-right.svg'), linear-gradient(113.96deg, var(--color-green) 1.49%, var(--color-green) 101.44%);
    transform: scale(1);
}
/*pick and feed*/
.pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 0 100px;
}
.pick__wrapper {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px 60px 100px;
}
.pick-and-feed__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-lg-orange);
    padding-bottom: 35px;
    text-align: center;
    margin-right: 35px;
}
.pick-and-feed__desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black-blue);
    margin-bottom: 9px;
}
.pick-and-feed__desc-second {
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black-blue);
    max-width: 863px;

}
.pick-and-feed__desc-second  a {
    text-decoration: underline;
    text-decoration-color: var(--color-lg-orange);
    text-underline-offset: 4px;
}
.pick-and-feed__subtitle {
    font-size: 24px;
    line-height: 120%;
    color: var(--color-black-blue);
    margin-bottom: 40px;
}
.pick-and-feed__list-title {
    font-size: 36px;
    line-height: 130%;
    color: var(--color-black-blue);
    text-align: center;
    margin: 60px 40px 40px 0;
}
.pick__list {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
.pick__list-icon {
    width: 168px;
    height: 168px;
    border: 1px solid rgba(249, 128, 75, 1);
    background: #FFFFFF;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-pay {
    background-image: url('./assets/icons/pick-and-feed/pay.png');
}
.icon-zoo {
    background-image: url('./assets/icons/pick-and-feed/zoo.png');
}
.icon-monkey {
    background-image: url('./assets/icons/pick-and-feed/monkey.png');

}
.pick-and-feed__arrow {
    width: 100px;
    height: 168px;
    background-image: url('./assets/icons/pick-and-feed/arrow.png');
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-left: 30px;
}
.pick__list-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-black-blue);
    margin-top: 30px;
    max-width: 168px;
}
.pick-and-feed__btn {
    display: block;
    margin-top: 60px;
    margin-left: 33%;
    padding-top: 17px;
}

/*testimonials*/
.testimonials {
    padding: 140px 0 180px 0;
    position: relative;
}
.testimonials-box {
    display: flex;
    flex-direction: column;
    gap: 21px;
}
.testimonials__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: var(--color-black-blue);
    margin-bottom: 47px;
}
.testimonials__slider {
    overflow: hidden;
    scroll-behavior: smooth;
}
.testimonials__card {
    display: flex;
    padding-bottom: 21px;
    gap: 30px;
    width: 100%;
    scrollbar-width: none;
    transition: 1s;
}
.testimonials__card::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.testimonials__card-item, .popup__card {
    display: flex;
    padding: 2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    border-radius: 20px;
}
.testimonials__card-bg {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 263px;
    height: 386px;
    padding: 12px 13px 19px 14px;
    background-color: var(--color-light-gray);
    border-radius: 20px;
}
.testimonials__palm {
    position: absolute;
    width: 246px;
    height: 275px;
    bottom: 0;
    right: 0;
    background-image: url('./assets/images/leav_foto.png');
    background-size:cover;
    background-repeat:no-repeat;
}
.card__item-header-name {
    line-height: 120%;
}
.card__item-header {
    display: flex;
}
.card__item-header-avatar {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius:50%;
}
.card__item-header-location {
    display: flex;
    position: relative;
}
.card__item-header-city,
.card__item-header-time {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
.card__item-desc {
    max-height: 308px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    overflow: hidden;
}
.card__separation {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    background-color: #BDBDBD;
    margin: 6px;
}
.testimonials__scroll  {
    display: block;
    height: 8px;
    width: 600px;
    background-color: var(--color-light-gray);
    outline: none;
    margin: 0 auto;
    border-radius: 5px;
    appearance: none;
    position: relative;
    align-self: center;
}
.testimonials__scroll::-webkit-slider-thumb {
    width: 115px;
    height: 6px;
    background: var(--color-lg-orange);
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}
.testimonials__scroll::-webkit-slider-thumb:hover {
    background: var(--color-orange);
}
.testimonials__scroll::-webkit-slider-thumb:active {
    background: var(--color-green);
}
.testimonials__scroll::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border: 1px solid #fbbdffa8;
    border-radius: 10px/100%;
}
.testimonials__btn {
    background: var(--linear-gradient);
    border-radius: 5px;
    margin-top: 32px;
}
.popup__testimonials {
    width: 330px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #F5F7F6;
    transition: 0.4s linear;
    overflow: auto;
    flex-wrap: wrap;
    padding: 35px 10px 17px 10px;
}
.popup__testimonials.active {
    left:50%;
}
.close-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.close-modal:before, .close-modal:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background-color: rgb(14, 13, 13);
}
.close-modal:before {
    transform: rotate(45deg);
}
.close-modal::after{
    transform: rotate(-45deg);
}

@media (max-width:1280px) {
    .watch__container {
        overflow: hidden;      
        gap: 40px; 
        padding-bottom: 47px;
    }
    .watch__favorite {
        gap:40px;
        margin-right: 40px;
    }
    .watch__title {
        font-size: 85px;
        margin-top: 44px;
    } 
    .watch__title::before {
        width: 367px;
        height: 367px;
        top: -55px;
        left: -6px;
    }
    .backstage {
        padding: 120px 0 100px;
    } 
    .backstage__container {
        gap: 31px;
    }
    .backstage__image {
        min-width: 454px;
        height: 407px;
    }
    .backstage__title {
        margin-bottom: 30px;
    }   
    .backstage__subtitle {
        margin: 60px 0 35px;
    }
    .backstage__flower {
        opacity: 0.3;
    }
    .backstage__btn {
        margin-top: 80px;
        padding-top: 15px;
    }
    .animal {
        padding: 30px 0 100px;
    }
    .animal__slider {
        width: 917px;
    }
    .animal__card{
        width: 283px;
        height: 354px;
    }
    .card__image{
        height: 280px;
    }
    .card__image img {
        height: 286px;
    }
    .card__arrows-block {
        top: 368px;
        left: 152px;
        width: 600px;
    } 
    .animals__cards {
        row-gap: 90px;
        max-height: 950px;
    }
    .pick-and-feed {
        padding: 30px 0 50px;
    }
    .pick__wrapper {
        padding: 30px 49px 50px 48px;
    }
    .pick-and-feed__title {
        padding-bottom: 21px;
        margin-right: 0;
    }
    .pick-and-feed__desc {
        max-width: 813px;
    }
    .pick-and-feed__desc-second {
        line-height: 140%;
    }
    .pick__list {
        margin-right: 0px;
    }
    .pick-and-feed__subtitle {
        line-height: 125%;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .pick-and-feed__list-title {
        margin: 40px 0;
        line-height: 125%;
    }
    .testimonials__card  {
        gap: 28px;
    }
    .testimonials {
        padding: 100px 0 140px 0;
    }
    .testimonials__title {
        margin-bottom: 33px;
    }
    .testimonials__card-bg {
        width: 290px;
        height: 386px;
        padding: 12px 18px 19px 16px;
    }
    .testimonials__palm {
        width: 200px;
        height: 240px;
    }
    .testimonials__scroll  {
        width: 400px;
    }
    
    .testimonials__scroll::-webkit-slider-thumb {
        width: 75px;
    }
    .testimonials__btn {
        margin-top: 50px;
    }
}

@media (max-width:980px) {
    .watch__container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0px 0px 0 20px;
        padding-bottom: 45px;
    }
    .watch__favorite {
        margin-top: 40px;
    }
    .watch__title {
        width: 43%;
        font-size: 54px;
        padding-bottom: 40px;
    }
    .watch__title::before {
        width: 237px;
        height: 237px;
        top: -39px;
        left: -45px;
    } 
    .watch__btn {
        position: absolute;
        bottom: 40px;
        left: 0;
    }
    .backstage {
        padding: 40px 0 80px 10px;
    }
    .backstage__image {
        display: none;
    }
    .backstage__text {
    max-width: 475px;
    }
    .backstage__title {
        margin: 15px 0;
    }
    .backstage__subtitle {
        margin: 40px 0 20px 5px;
    }
    .backstage__flower {
        display: block;
        height: 486px;
        width: 136px;
        background-size: cover;
    }
    .backstage__btn {
        margin-top: 60px;
    }
    .animals__cards {
        grid-template-columns: repeat(2, auto);
        max-height: 870px;
    }
    .animal__slider {
        width: 600px;
    }
    .card__arrows-block {
        width: 300px;
    } 
    .pick__list {
        position: relative;
        gap:42px;
    }
    .pick__list-item{
        position: relative;
    }
    .pick__list-item::after {
        position: absolute;
        content:'';
        background-image:url('./assets/icons/arrow-color.svg');
        top: -40px;
        right: -55px;
        width: 90px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 200;
    }
    .pick-and-feed__arrow {
        display: none;
    }
    .second-arrow {
        top: -20px;
        left: 57%;
    }
    .testimonials__wrapper  {
        width: 600px;
    }
    .testimonials__card-bg {
        width: 100%;
        height: 105px;
        padding: 12px 18px 9px 16px;
    }
    .testimonials__slider {
        padding-right: 15px;
        overflow: scroll;
        scroll-behavior: smooth;
    }
    .testimonials__scroll {
        display: none;
    }
    .testimonials__card  {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        height: 495px;
    }
    .popup__testimonials {
        
        width: 300px;
    }
    .popup__card .testimonials__card-bg {
        height: 386px;
        width: 280px;
    }
}

@media (max-width:639px) { 
    .watch__container {
        overflow: visible;
        margin: auto;
        padding-bottom: 80px;
        justify-content: center;
    }
    .watch {
        background-position: center -34px;
        padding-bottom: 40px;
        margin-top: 34px;
    }
    .watch__title {
        width: 60%;
    }
    .watch__favorite {
        margin-right: 0;

    }
    .watch__btn {
        left: 10px;
        bottom: -90px;
    }
    .backstage {
        padding: 60px 10px 80px;
    }
    .backstage__title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 130%;
    }
    .animals__cards {
        grid-template-columns:repeat(1, auto);
    }
    .card__arrows-block {
        width: 200px;
        left: 50px;
    }
    .animal__slider {
        width: 284px;
        margin: auto;
    }
    .pick__wrapper {
        max-width: 640px;
        padding: 10px 15px 60px 15px;
    }
    .pick-and-feed {
        padding: 20px 0;
    }
    .pick-and-feed__title {
        font-size: 42px;
        padding-bottom: 18px;
    }
    .pick-and-feed__subtitle {
        font-size: 22px;
    }
    .pick-and-feed__list-title {
        margin: 25px;
    }
    .pick-and-feed__btn {
        margin-top: 40px;
        margin-left: 25%;
    }
    .pick__list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .pick__list-desc {
        margin: 10px 0;
    }
    .pick__list-item::after {
        transform: rotate(87deg);
        top:170px;
        right: -63px;
    }
    .second-arrow {
        top: 430px;
    }
    .pick-and-feed-mt {
        margin-top: -10px;
    }
    .pick-and-feed__btn {
        margin: 0 auto;
        margin-top: 25px;
    }
    .testimonials {
        padding: 60px 0 80px 0;
    }
    .testimonials__wrapper{
        width: 300px;
    }
    .testimonials-box {
        gap: 10px;
    }
    .testimonials__title {
        margin-bottom: 30px;
    }
    .testimonials__card-bg {
        height: 105px;
        padding: 12px 18px 12px 12px;
    }
    .testimonials__card-item {
        height:109px;
    }
    .testimonials__scroll {
        display: none;
    }
    .testimonials__card li:first-child{
        display: none;
    }
    .testimonials__btn {
        width: 240px;
        display: block;
        margin: 0 auto;
        margin-top: 18px;
    }
    .testimonials__palm {
        width: 118px;
        height: 131px;
    }
}


@media (max-width: 480px) {
    .watch__container {
        padding-bottom: 35px;
        justify-content: space-between;
    }
    .watch__title {
        margin-top: 0;
        font-size: 28px;
        width: 150px;
        height: 102px;
        padding: 0;
        margin: 0;
        margin-top: 73px;
    }
    .watch__title::before {
        width: 119px;
        height: 119px;
        top: -16px;
        left: -19px;
    }
    .watch__btn {
        bottom: -85px;
    }
    /*pick*/
    .pick-and-feed {
        padding: 20px 10px;
    }
    .pick__wrapper {
        padding: 20px 0 40px 0;
    }
    .pick-and-feed__title {
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    .pick-and-feed__subtitle {
        font-size: 1.125em;;
        text-align: center;
    }
    .pick-and-feed__desc, .pick-and-feed__desc-second {
        display: none;
    }
    .pick-and-feed__list-title {
        font-size: 1.5em;
        margin: 20px;
    }
    .testimonials {
        padding: 30px 0 60px 0;
    }
    .testimonials__title {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    .testimonials__card-bg {
        width: 300px;
        padding: 7px 12px 12px 11px;
    }
    .testimonials__card-item {
        width: 280px;
    }
    .testimonials__palm {
        width: 60px;
        height: 70px;
    }
    .testimonials__btn {
        margin-top: 8px;
    }
}

